body {
    font-family: serif;
    background-color: #333;
}

header {
    background-color: white;
    width: 90%;
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
    margin: auto;
}

.header-content {
    width: 90%;
    height: 750px;
    background-color: white;
    margin: auto;
}

.header-content1 {
    width: 50%;
    height: 750px;
    float: left;
}

.header-content2 {
    width: 50%;
    height: 750px;
    float: left;
}

.header-content2 p {
    font-size: 35px;
}

table {
    text-align: center;
    background-color: whitesmoke;
    border: 4px solid black;
    border-collapse: collapse;
}

table tr {
    font-size: 20px;
    width: 50%;
    height: 80px;
    border: 4px solid black;
    background-color: lightpink;
}

table th {
    font-size: 25px;
    background-color: lightskyblue;
    border: 4px solid black;
}

table td {
    border: 4px solid black;
}

.profile-picture {
    margin-top: 20px;
    margin-left: 120px;
    width: 80%;
    height: 700px;
    border-radius: 40px;
}

nav {
    width: 90%;
    font-size: 28px;
    margin: auto;
    background-color: white;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    font-size: 35px;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: chocolate;
}

.section-content {
    background-color: white;
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
}

.download-button {
    background-color: navy;
    color: goldenrod;
    box-shadow: 5px 5px 5px black;
    width: 130px;
    height: 30px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
    transition: 1s;
}

.download-button:hover {
    background-color: rgb(31, 31, 192);
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: white;
    width: 90%;
    border-radius: 20px;
    color: black;
    margin: auto;
    margin-top: 40px;
    box-shadow: 20px 20px 20px black;
}

.images {
    border-radius: 20px;
    height: 250px;
    width: 30%;
    margin-left: 400px;
}

h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    font-family: serif;
}

.img {
    width: 30%;
    height: 50px;
}

.section-content div {
    float: left;
    width: 13%;
    height: 100px;
    padding: 30px;
    gap: 20px;
    display: flex;
    padding-left: 100px;
}

.row {
    width: 100%;
    margin: auto;
    display: flex;
}

.col1 {
    width: 50%;
    height: 500px;
}

.img1 {
    width: 80%;
    height: 450px;
    border-radius: 50%;
    margin-left: 20px;
}

.col2 {
    width: 50%;
    height: 500px;
}

.header-content3 {
    background-color: white;
    width: 90%;
    height: 700px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
}

@keyframes animate {

    0%,
    10%,
    20%,
    25%,
    35%,
    40%,
    45%,
    50%,
    55%,
    65%,
    75%,
    80%,
    95% {
        color: black;
        text-shadow: none;
    }

    10.2%,
    20.3%,
    25.5%,
    35.6%,
    40.10%,
    45.2%,
    50.5%,
    55.5%,
    65.6%,
    75.7%,
    80.3%,
    95.2%,
    100% {
        color: white;
        text-shadow: 0 0 10px hotpink,
        0 0 20px hotpink,
        /* 0 0 40px hotpink,
        0 0 80px hotpink, */
        /* 0 0 160px hotpink; */

    }
}